@import "normalize.css";


/* Letas para aplicar en el texto */

/* 1. Letras para "$500/NIGHT" */

@font-face {
    font-family: 'DJBBellyButton-Innie-Bold';
    src: url('/fonts/money_night_font/DJBBellyButton-Innie-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/money_night_font/DJBBellyButton-Innie-Bold.woff') format('woff'), url('/fonts/money_night_font/DJBBellyButton-Innie-Bold.ttf')  format('truetype'), url('/fonts/money_night_font/DJBBellyButton-Innie-Bold.svg#DJBBellyButton-Innie-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }


/* 2. Letra para boton de "Book Now" */

 @font-face {
    font-family: 'Macopah';
    src: url('/fonts/book_now/Macopah.eot?#iefix') format('embedded-opentype'),  url('/fonts/book_now/Macopah.woff') format('woff'), url('/fonts/book_now/Macopah.ttf')  format('truetype'), url('/fonts/book_now/Macopah.svg#Macopah') format('svg');
    font-weight: normal;
    font-style: normal;
  }

 /* 3. Letras blancas para titulo de pagina y nombre de hoteles*/

  @font-face {
    font-family: 'EncodeSansCompressed-Bold';
    src: url('/fonts/hotels_name/EncodeSansCompressed-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/hotels_name/EncodeSansCompressed-Bold.woff') format('woff'), url('/fonts/hotels_name/EncodeSansCompressed-Bold.ttf')  format('truetype'), url('/fonts/hotels_name/EncodeSansCompressed-Bold.svg#EncodeSansCompressed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }


main{
    display:grid;
    background-color:#1E1E24;
    grid-template-rows: 150px 1fr 50px;
} 

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/header-image.jpg");
  width: auto;
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}

.title {
  width:auto;
}

.title h1{
  font-family: 'EncodeSansCompressed-Bold', Courier, monospace;
  color: #FFFFFF; 
  font-size: 6vh;
}

.title h1:hover{
   transform: scale(1.2);
}

main{
  display:flex;
}

#principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width:80%;
}

aside{
  width: 20%;
  background-color:#1E1E24;
  display:flex;
  flex-direction: column;
}

.hotel{
  border: 1px solid #ffffff;
    margin: 10px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.hotel .hotel-image{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.hotel .hotel-image img{
  display: block;
  margin-top: 20px;
  animation:  fadeEnter 0.5s  ease-in-out 0.2s;
}

.hotel .hotel-data{

  display: inline-block;
  padding: 20px;
  flex: 1 1 auto;
  flex-grow: 1;
}

.hotel .hotel-data h4{
  font-family: 'EncodeSansCompressed-Bold', Courier, monospace;
  color: white;
  font-size: 25px;
  text-align:center;
  margin: auto auto 7px auto; */

}

.hotel .hotel-data h3{
  font-family: 'DJBBellyButton-Innie-Bold', Courier, monospace; 
  color:#D42740;
  text-align:center;
  font-size: 19px;
  text-transform: uppercase;
  margin: auto auto 7px auto;
}

.hotel .hotel-data p{
  color: white;
  text-align: justify;
  margin: 5%s auto 25% auto;
  font-size: 25px;
}

.boton-card{
  background-color: #D7263D;
  color: #fff;
  display: block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  flex-grow: 0;
  cursor:pointer;
 
}

boton-card p{
  font-family: 'Macopah', Courier, monospace; 
}

/* HOTEL -CARD STYLES */


#booking-title{
  text-align:center;
  color: #D42740;
}

#hotel-card div{
  display:flex;
  flex-direction: column;
  border: 1px solid white;
  margin: 20px;
  padding:15px;
}



#hotel-card div img{
  margin : 20px 20px 20px 40px;  ;
}

.cardtitle{
  font-family: 'EncodeSansCompressed-Bold', Courier, monospace;
  font-size:25px;
  color:white;
  text-align: center  ;
}

.cardprice{
  font-family: 'DJBBellyButton-Innie-Bold', Courier, monospace;
  color:#D42740;
  text-align:center;
}

.delete{
  margin-left: auto;
  margin-right:auto;
  width:50%;
  height:20%;
  border-radius:50%;
  background-color: #D42740;
  color:white;
  cursor:pointer;
}

#remove-all button{
  width:auto;
  height:50px;
  background-color: #D42740;
  color:white;
  margin-left:29%;
  margin-right:auto;
  padding:5px;
  cursor:pointer;
  border-radius: 50%;
  padding:5px;

}


footer{
  background-color: #D7263D;
  padding: 2px;
  text-align: center;
  color: white;
}

footer h2{
  text-align: center;
}



@media screen and (max-width:375px) {

  .title{
    width:360px;
  }
 
  .title h1{
    font-family: fantasy;
    color: #FFFFFF; 
    font-size: 3vh;
    text-align: center;
    width: 300px;
    margin-left: 15px;

  }

  main{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap:10px; 
  }
}

@media screen and (max-width:411px) {
  .title h1{
    font-family: fantasy; 
    font-size: 4vh;
    text-align: center;
    width: 300px;
    margin-left: 15px;

  }
  
}


@media screen and (max-width:768px) {

  main{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,1fr));
    gap:5px; 
  }

  .title h1{
    font-family: fantasy;
    font-size: 4vh;
    text-align: center;
    margin-left: 15px;

}

/* ANIMACIONES */
@keyframes fadeEnter{
  from{
    transform: translateY(10%);
    opacity: 0;
  }

  to{
    transform: translateY(0%);
    opacity:1;
  }
}






